*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
!checksums.csv
.Rproj.user
*.RData
*.h5
bunnies.R
*.log
*.zip
*.html.Rhistory
.Rprofile
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
.Rhistory
*.udpipe
*.tex
*.ttt
r-references.bib
*.docx
levesque_final.txt
